
.main-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 15%;
    width: 80%;
    height: 85%;
    left:10%;
}

.column {
    padding: 15px;
}

.bee-zone, .words {
    text-align: center;
    width: 50%;
    height: 100%
}

.words {
    border: .5px solid grey;
}

.cell {
    position: absolute;
    height: 104px;
    width: 120px;
}

.center.polygon {
    background-color: yellow;
}

.letter {
    font-size: 30px;
}

.central_letter {
    color: #f8cd05;
}

.invalid_letter {
    color: #dcdcdc;
}